<head>
<title>Log In</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="styles.css">

</head>

<% if flash[:error] %>
<div class="alert alert-primary" role="alert">
  <%= flash[:error]%>
</div>
<% end %>
<h1 class="app-title">TankyTank</h1>
<!-- <p class="xavier">Xavier Ruiz</p> -->
<!-- <p class="matt">Matt Peoples</p> -->
<div class="container">
	<div class="d-flex justify-content-center h-100">
    <div class="card">
			<div class="card-header">
        <h2 class="log-in">Log In</h2>
      </div>
      <div class="d-flex justify-content-center">
      </div>
      <div class="card-body">
      <%= form_tag "/sessions" do %>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <%= email_field_tag :email, nil, placeholder: 'E-mail' %>
          </div>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
            <%= password_field_tag :password, nil, placeholder: 'Password'%>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
          <%= submit_tag "Log in", class: "submit_btn_2"%>
          </div>
          <% end %>
          <div class="register_link">
            <%= link_to "Not signed up? Register Here!", "/users/new" %>
          </div>
          <div class="heart">
            <%= link_to "💙", "https://www.youtube.com/watch?v=dQw4w9WgXcQ"%>
          </div>
