<% if flash[:error] %>
	<div class="alert alert-danger" role="alert">
	  <%= flash[:error] %>
	</div>
<% end %>

<body class="fish_market">
<h1 class="market-title">Market</h1>
<div class="card-columns">
<% @fish.each do |fish|%>
	<div class="card">
	  <div class="card-body">
			<div class="fish_name">
				<%= fish.name %><br>
			</div>
	  	<div class="fishpic">
	  		<%= image_tag "#{fish.id}.png", size: "150x150", alt: "#{fish.name}"%><br><br>
	  		<%= form_tag purchase_path do %>
	  			<label class="price">Price: $<%= fish.cost %></label><br>
			  	<label class = "price">Tank:</label>
			  	<%= collection_select :tank, :id, Tank.all, :id, :name, class: "price" %>
			  	<%= hidden_field_tag 'fish_id', fish.id %>
			  	<%= submit_tag "Buy" , class: "price"%>
	  		<% end %>
	  	</div>

	  </div>
	</div>
<% end %>
</div>
</body>
